@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
input:-webkit-autofill,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #454545;
  transition: background-color 5000s ease-in-out 0s;
}

.tiptap.ProseMirror {
  outline: none;
}

.is-active {
  background-color: #ededed;
  border-radius: 9px;
}

.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap p {
  color: #565555;
}

.tiptap p {
  margin: 1em 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* background: #000; */
}

.tiptap-detail {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.tiptap-detail pre {
  padding: 2rem;
  border-radius: 10px;
  background: #efefef;
}

.post-card-content em {
  font-style: normal;
}

.htmlContentCard img {
  display: none;
}

.htmlContentDetail p h1 h2 h3 h4 h5 h6 {
  letter-spacing: 0.8px;
  line-height: 1px;
}

.htmlContentCard pre code {
  background-color: aqua;
}

.askAiTitle {
  margin-bottom: 0.5rem;
  color: #4b5563;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 16px;
}

.askAiContent {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 1rem;
  color: #4b5563;
  border-bottom: 1px solid #bbf7d0;
  font-size: 15px;
}
